<!DOCTYPE html>
<html>
<head>
  <title>Places</title>
  <%= stylesheet_link_tag    "places/application", media: "all" %>
  <%= javascript_include_tag "places/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/error_messages' %>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_${name}" %>
<% end %>

<%= yield %>

</body>
</html>
