<h2> Info on a Place</h2>
<% if @place %>
    <ul>
    
        <p>Name:        <%= link_to @place.name, @place %></p>
        <p>Description: <%= @place.description %></p>

        <% if @place.parent %>
        <h3>Parent:</h3>
            <li><%= link_to @place.parent.name, @place.parent %></li>
        <% end %>

        <% if @place.has_children? %>
            <h3>Children:</h3>
            <%= render partial: 'place', collection: @place.children, as: :node %>
        <% end %>

    </ul>
<% else %>
    <p>Unable to find a Place.</p>
<% end %>

<p><ul>
<li><%= link_to "Select a Place", places_path %></li>
<li><%= link_to "Create a new Place", create_path %></li>
<li><%= link_to "Edit this place", edit_place_path(@place.id) %></li>

</ul></p>

