<h2> Edit a Place</h2>
<% if @place %>
    <ul>
        <%= form_for @place do |f| %>
            <%= f.label :name, "Name:" %>
            <%= f.text_field :name %> <br />
            <p><%= f.label :description, "Description:" %>
                <div verticalalign="top">
                    <p><%= f.text_area :description, :rows => 5, :cols => 50  %><p/>
                </div>
            </p>
            <p><%= f.submit "Submit", :disable_with => 'Submitting...' %></p>
        <% end %>
    </ul>
        <%= link_to "Delete #{@place.name}.", 'destroy' %>
    <ul>

    </ul>

    <% if @place.parent %>
    <h3>Parent:</h3>
    <ul>
        <li><%= link_to @place.parent.name, @place.parent %>
            <%= link_to 'break', [@place, :breakparent] %></li>
    </ul>
    <% end %>

    <% if @place.children.length > 0 %>
    <h3>Children:</h3>
    <ul>
        <% for child in @place.children do %>
            <li><%= link_to child.name, child %> 
                <%= link_to 'Remove', [@place, :remchild, :place => child] %></li>
        <% end %> 
    </ul>
    <% end %>

    <h3>Add children:</h3>
    <ul>
        <% for p in Places::Place.all.each do %>
            <% unless p == @place || @place.children.find(p) %> 
                <li><%= p.name %>  <%= link_to 'Add', [@place, :addchild, :place => p] %>
                </li>
            <% end %>
        <% end %>
    </ul>

<% else %>
    <p>Unable to find a Place.</p>
<% end %>

<p><ul>
<li><%= link_to "Select a Place", places_path %></li>
<li><%= link_to "Create a new Place", new_place_path %></li>
</ul></p>
