<h2>Select a place</h2>

<% if @places %>
    <% for place in @places %>
        <p><%= link_to place.name, place_path(place) %> (<%= place.entity_type %>):  <%= place.description %></p>
    <% end %>
<% else %>
    <p>No places defined.</p>
<% end %>

<br/>
<p><ul>
<li><%= link_to "Select a Place", places_path %></li>
<li><%= link_to "Create a new Place", new_place_path %></li>
</ul></p>
